<div class="col-12">

  <h2><span>HiLight / No. <%= @highlight.id %></span></h2>
    <p><%=@highlight.highlighted_text%></p>
      <h6>- <u><%=link_to @highlight.book_title, @highlight.url, :target => "_blank"%></u>

  <br class="clear" /><br /><br /><br /><br /><br />
</div>
